
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 430px;
    
}

header {
    background: #ffffff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    padding-left: 3%;
}

.logo img {
    height: 40px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding-right: 20px;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: black;
    margin: 4px 0;
    transition: all 0.3s;
}


.nav-links{
    display: none;
}

.nav-links-mobile {
    display: flex;
    list-style: none;
    
}
.nav-links-mobile li {
    margin-left: 20px;
}

.nav-links-mobile a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:visited{
    color: #3BB5FA;
}


/* Main Content */

#main-section {
    position: relative;
    height: 300px;
    height: 573px;
    background: linear-gradient(to bottom, white, #63BFF2);
    text-align: center;
    color: white;
   
}

#img-mobile {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: 60%;
}

#img-pc{
    display: none;
}

.info{
    padding-top: 250px;
    position: absolute;
}

.info h2{
    margin-left: 1%;
    font-style: italic;
    font-size: 2.1em;
    font-weight: bold;
}

.info h3{
    font-weight: lighter;
    font-size: 1.1em;
}

.btn-date{
    position: absolute;
    background-color: #FCF0C8;
    color: black;
    border-radius: 40px;
    width: 40%;
    font-size: 0.8em;
    margin-left: 30%;
    margin-top: 470px;
}

#about-us{
   text-align: center;
   color: #95CFE7;
   
}

#about-us h2{
    font-size: 1.7em;
}

.container{
    margin-top: 10%;
    display: flex;
}

.container-2{
    margin-top: -1%;
    display: flex;
}
.item{
    width: 50%;
}

.item p{
    font-size: 0.8em;
    width: 90%;
    text-align: left;
    margin-left: 5%;
    margin-top: 15%;
}

.item img{
    width: 100%;
}

#promo-section {
    margin-top: 0;
    position: relative;
    height: fit-content;
    background: linear-gradient(235deg, rgba(0, 185, 145, 0.507), #63BFF2);
    text-align: center;
    color: white;
}

#promo-section img{
   position: absolute;
}

.container-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan */
    gap: 20px; /* Espaciado entre tarjetas */
}

.subscription-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.plan-name {
    font-size: 24px;
    color: #333;
}

.price {
    font-size: 20px;
    color: #00d9e9;
}

.duration {
    font-size: 14px;
    color: #777;
}

.description {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.features {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 10px 0;
    color: #777;
}

.features li {
    margin: 5px 0;
    
}

.subscribe-button {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: #00d9e9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}



footer {
    
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre el texto y los iconos */
    align-items: center; /* Alinea verticalmente al centro */
    background: #f8f8f8;
    color: #3BB5FA;
    font-weight: bold;
    font-size: 30px;
    padding: 10px; /* Añadir un poco de espacio alrededor del contenido */
}


@media (min-width: 431px) {
.nav-links-mobile{
    display: none;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Main Content */

#img-mobile {
    display: none;
}

#img-pc{
    display: initial;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: 60%;
}

.info{
    margin-left: 60%;
    margin-top: -10%;
    font-size: 1.2em;
}

.btn-date{
    
    position: absolute;
    background-color: #FCF0C8;
    color: black;
    border-radius: 40px;
    width: 20%;
    font-size: 0.8em;
    margin-left: 71%;
    margin-top: 440px;
    
}

#about-us h2{
    font-size: 2.8em;
}

#about-us p{
    padding-top: 3%;
    margin-left: 3%;
    text-align: center;
    font-size: 1em;
    width: 95%;
}

.container{
    margin-top: 10%;
    display: flex;
}

.container-2{
    margin-top: -0.3%;
    display: flex;
}
.item{
    width: 50%;
    font-size: 1.1em;
}

.item p{
    
    width: 100%;
    text-align: left;
    margin-top: 20%;
}

.item img{
    width: 100%;
}

#img-pc-promo {
    display: initial;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: 50%;
    
}

#img-mobile-promo {
    
    display: none;
    
}

#promo-section {
    margin-top: 1%;
    position: relative;
    height: 300px;
    height: 573px;
    text-align: center;
    color: white;
}


footer {
    margin-top: 0;
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre el texto y los iconos */
    align-items: center; /* Alinea verticalmente al centro */
    background: #f8f8f8;
    color: #3BB5FA;
    font-weight: bold;
    font-size: 30px;
    padding: 10px; /* Añadir un poco de espacio alrededor del contenido */
}

.social-icons {
    display: flex;
    gap: 15px; /* Espaciado entre los iconos */
}

.social-icons i {
    cursor: pointer; /* Añadir un puntero al pasar sobre los iconos */
}


@media (max-width: 600px) {
    .subscription-card {
        width: 90%; /* Hacer que las tarjetas ocupen el 90% del ancho en móviles */
    }

    .plan-name {
        font-size: 20px; /* Ajustar tamaño de fuente en móviles */
    }

    .price {
        font-size: 18px; /* Ajustar tamaño de fuente en móviles */
    }

    .duration, .description, .features li {
        font-size: 14px; /* Ajustar tamaño de fuente en móviles */
    }

    .subscribe-button {
        width: 100%; /* Hacer que el botón ocupe todo el ancho en móviles */
    }
}
}